<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>30 дней кода</title>

    <script src="https://kit.fontawesome.com/dcac1ef02b.js"></script>
    <style type="text/css">
        body {
            padding-left: 50px;
            padding-right: 50px;
        }
        .logo {
        }

        .day {
          font-size: 200%;
          width: 200px;
        }
        .checks {
          font-size: 200%;
        }

        .checks .fa-github{
          font-size: 150%;
        }

        td.day,
        td.checks {
          vertical-align: middle;
        }
    </style>
  </head>
  <body>

    <div class="d-flex flex-row justify-content-center mb-3">
      <div>
        <img class="logo" src="assets/logo.jpeg" width="250" height="250" alt="30 дней кода">
      </div>
      <div class="p-4 align-self-center">
        <h1 class="display-2">30 дней кода</h1>
      </div>
    </div>


    <table class="table table-sm table-borderless mx-auto" style="max-width: 1000px;">
        <colgroup>
         <col span="1" style="width: 15%;">
         <col span="1" style="width: 45%;">
         <col span="1" style="width: 15%;">
         <col span="1" style="width: 25%;">
      </colgroup>
      <tbody>
        {% for row in days_by_rows %}
        <tr>
          {% for day in row %}
            <td class="day text-nowrap">день {{ day }}</td>
            <td>
              <div class="d-flex flex-row align-center checks">
                <div class="p-2">
                  <i class="far fa-star"></i>
                </div>
                <div class="p-2">
                  <i class="far fa-star"></i>
                </div>
                <div class="p-2">
                  <i class="fab fa-github"></i>
                </div>
              </div>
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
